* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#clock {
    margin: 40vh auto;
    text-align: center;
    font-size: 8rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslateblue;
}